NameVirtualHost *:80

<VirtualHost *:80>
    ServerName web-01.papern.com
    ServerAlias www.papern.com
    DocumentRoot /var/nfs/www/papern.com/html
    <Directory /var/nfs/www/papern.com/html>
        Options -Indexes +FollowSymLinks +MultiViews
        AllowOverride All
        Require all granted
    </Directory>
    ErrorLog /var/nfs/www/papern.com/log/error.log
    CustomLog "| /bin/sh -c '/usr/bin/tee -a /var/nfs/www/papern.com/log/requests.log | /usr/bin/logger -thttpd-papern.com -plocal1.notice'" combined
</VirtualHost>